<%- include ../shared/header %>
  <div class="row mt-4">
    <div class="col">
      <a href="#" class="btn btn-primary btn-lg">
        WELCOME HERE! <span class="badge badge-light"></span>
      </a>
      <hr />
      <a href="#" class="btn btn-success btn-lg">
        USERS<span class="badge badge-light">4</span>
      </a>
    </div>
  </div>
<%- include ../shared/footer %>
